body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
  animation: fade-in 1s ease-in-out;
}

h1:hover {
  color: #ff6600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  animation: pulse 1s infinite;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  width:fit-content;
}

h2:hover {
  color: #ff6600;
  text-decoration: underline;
  cursor: pointer;
  animation: rotate 1s infinite;
}

p {
  color: #555;
  line-height: 1.6;
}

ul, ol {
  color: #555;
  padding-left: 20px;
  margin-bottom: 15px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  animation: slide-up 1s ease-in-out;
}

.icons {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  vertical-align: middle;
}

/* Blog post links */
ol li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Blog post links on hover */
ol li a:hover {
  text-decoration: underline;
  color: #777;
}

/* Fun fact emoji style */
.fun-fact {
  font-size: 18px;
  margin-top: 10px;
  color: #777;
  animation: slide-up 1s ease-in-out;
}

/* Responsive styles */
@media (max-width: 768px) {
  h1 {
      font-size: 24px;
  }

  h2 {
      font-size: 20px;
  }
}

/* Animations */
@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slide-up {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
